<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Table Example</title>
    <script src="/static/picker.js" defer></script>

    <link rel="stylesheet" href="static/picker.css">

    <style>
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="node-container">
        <div class="node"></div>
    </div>
    <div class="cart-container">
        <div class="cart">
            <div id="total_credits">Total Credits: </div>
        </div>
    </div>
</div>
</body>
</html>
